*{
    margin: 0px;
    padding: 0px;
}

#container{
    display: grid;
    grid-template-areas: 
    "header header"
    "aside article"
    "section section"
    "footer footer";
    gap: 10px;
    margin: 10px;
    grid-auto-rows: 60px 500px 200px 60px;
    height: 100vh;
}

header{
    grid-area: header;
    background-color: blueviolet;
    border-radius: 6px;
}

aside{
    grid-area: aside;
    background-color: blue;
    width: 200px;
    border-radius: 6px;
}

article{
    grid-area: article;
    background-color: rgb(202, 153, 45);
    width: 1120px;
    border-radius: 6px;
}

section{
    grid-area: section;
    background-color: aquamarine;
    border-radius: 6px;
}

footer{
    grid-area: footer;
    background-color: brown;
    border-radius: 6px;
    text-align: center;
    color: white;
}

p{
    text-align: center;
    font-family: Verdana;
    font-size: 22px;
}